<div class="container">

	<h1>Musicfinder</h1>
	
	<p>Musicfinder helps you discover music you never knew existed!</p>

	<%= image_tag "jamesbrown.jpg", :class => "hero" %>
	
	<ul>
		<li><a href="/signup">Sign up</a></li>
		<li><a href="/learn">Learn more</a></li>
	</ul>

</div>

<!-- Mixpanel tracking script -->
<script type="text/javascript">
  mixpanel.track("Viewed home page");
</script>